<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositorypath" value="Packages" />
  </config>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSourceCredentials>
  </packageSourceCredentials>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>  
  <packageSources>    
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <add key="dotnet-tools" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-tools/nuget/v3/index.json" />	
    <add key="Shift Private Artifactory" value="https://artifactory.corp.shift-technology.com/artifactory/api/nuget/shift-private-nuget-repository" />
    <add key="Artifactory Nuget Repository" value="https://artifactory.corp.shift-technology.com/artifactory/api/nuget/v3/shift-github-nuget" protocolVersion="3" />
  </packageSources>
  <packageSourceMapping>
    <!-- key value for <packageSource> should match key values from <packageSources> element -->
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="dotnet-tools">
      <package pattern="*" />
    </packageSource>
    <packageSource key="Shift Private Artifactory">
      <package pattern="Shift.*" />
    </packageSource>
	<packageSource key="Artifactory Nuget Repository">
	  <package pattern="Shift.*" />
	</packageSource>
  </packageSourceMapping>
</configuration>
